html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

table,
td {
    border: 1px solid #333;
    color: #000;
    font-size: 13px;
    padding: 0px 5px 0px 5px;
    text-align: center;
}

thead{
    color: #000;
    text-align: center;
    align-items: center;
}

tr, th {
  text-align: center;
  border-spacing:15px 10px;
}

.table-scroll {
  height: 35vh;
  overflow:auto;  
  background-color: #fff;
}