html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.table {
  position: absolute;
  /* background-color: aqua; */
  width: 500;
  height: 100;
  overflow: hidden;
}

table,
td {
    border: 1px solid #333;
    color: #000;
    font-size: 13px;
}

thead{
    color: #000;
    text-align: center;
    align-items: center;
}

tr, th {
  text-align: center;
}

.table-scroll {
  height:300px;
  overflow:auto;  
  margin-top:20px;
}

#1 {
  width: 200px;
}